In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2
from sqlalchemy import inspect

In [ ]:
# engine=create_engine('postgresql://nqrlodxvnaspsp:a19fd4360dcd5f66efab2e15c365995acac3ce31cf2886884bfaff4ed1aebd5d@ec2-174-129-225-160.compute-1.amazonaws.com:5432/de5ak2jipm2l50')
# #'postgresql://
# #nqrlodxvnaspsp
# #a19fd4360dcd5f66efab2e15c365995acac3ce31cf2886884bfaff4ed1aebd5d
# #@ec2-174-129-225-160.compute-1.amazonaws.com:5432
# #/de5ak2jipm2l50'

# from sqlalchemy import inspect
# inspector = inspect(engine)
# inspector.get_table_names()

In [ ]:
pg_user = 'postgres'
pg_pwd = 'postgres'
pg_port = "5432"
database = 'colorado_camping_db'
url = f"postgresql://{pg_user}:{pg_pwd}@localhost:{pg_port}/{database}"
engine = create_engine(f'{url}')
# KL Edit
engine=create_engine('postgresql://nqrlodxvnaspsp:a19fd4360dcd5f66efab2e15c365995acac3ce31cf2886884bfaff4ed1aebd5d@ec2-174-129-225-160.compute-1.amazonaws.com:5432/de5ak2jipm2l50')

# reflect an existing database into a new model

insp=inspect(engine)

print(insp.get_table_names())

Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save reference to the table
nps = Base.classes.geocode_info

session = Session(engine)

result=session.query(nps)\
.filter(nps.FacilityID==231860).all()

for each_result in result:
    print(each_result.FacilityLatitude)

# Store CSV into DataFrame

## Reservation Data 2010 - 2015

In [ ]:
#Read 2010 through 2015 reservation data and load as dataframe
res_file_10_15= os.path.join("Data","ReservationData10_15.csv")
res_data_10_15_df = pd.read_csv(res_file_10_15)
res_data_10_15_df

In [ ]:
#Check 2010 through 2015 reservation data types
res_data_10_15_df.dtypes

In [ ]:
#Verify 2010 through 2015 reservation OrderNumber uniqueness
res_data_10_15_df.nunique()

## Reservation Data 2016 - 2020

In [ ]:
#Read 2016 through 2020 reservation data and load as dataframe
res_file_16_20= os.path.join("Data","ReservationData16_20.csv")
res_data_16_20_df = pd.read_csv(res_file_16_20)
res_data_16_20_df

In [ ]:
#Verify 2010 through 2015 reservation OrderNumber uniqueness
#Duplicate OrderNumbers found
res_data_16_20_df.nunique()

In [ ]:
#Filter out duplicate reservation Order Numbers, leaving only the first occurance 
res_data_16_20_clean_df=res_data_16_20_df.loc[res_data_16_20_df.duplicated(subset='OrderNumber',keep='first')==False,:]
res_data_16_20_clean_df

## Geocode Data

In [ ]:
#Read geocode data and load as dataframe
geo_file= os.path.join("Data","Reverse_GeocodeInfo.csv")
geo_df = pd.read_csv(geo_file)
geo_df

In [ ]:
#Map RegionDescription for Colorado Nation Parks to match the nomenclature of the national parks data set
geo_df["RegionDescription"]=geo_df["RegionDescription"].\
replace(["Great Sand Dunes National Park","Mesa Verde National Park","Black Canyon National Park","Rocky Mountain National Park"],\
        ["Great Sand Dunes NP & PRES","Mesa Verde NP","Black Canyon of the Gunnison NP","Rocky Mountain NP"])

In [ ]:
#Check that mapped RegionDescription changes have been applied
geo_df["RegionDescription"].unique()

In [ ]:
#Drop null values for FacilityID
geo_clean_df=geo_df.loc[geo_df['FacilityID'].notna()==True,:]
geo_clean_df

## National Park Visitor Data

In [2]:
#Read national park summary file data and load as DataFrame and check data types
nps_file= os.path.join("Data","NatPark_All_Clean_Summary_Visitor_Use.csv")
nps_df_0 = pd.read_csv(nps_file)

nps_df_0.dtypes

uniqueid                     int64
Park                        object
State                       object
Year                         int64
Month                       object
Recreation_Visitors         object
Non_Recreation_Visitors     object
Recreation_Visitor_Hours    object
Non_Recreation_Hours        object
Concession_Lodging          object
Tent_Campers                object
RV_Campers                  object
Backcountry_Campers         object
Misc_Campers                object
Total_Overnight_Stays       object
dtype: object

In [3]:
#Remove "," from sting values for each of the visitor counts
nps_df_0["Recreation_Visitors"]=nps_df_0["Recreation_Visitors"].str.replace(",","")
nps_df_0["Non_Recreation_Visitors"]=nps_df_0["Non_Recreation_Visitors"].str.replace(",","")
nps_df_0["Recreation_Visitor_Hours"]=nps_df_0["Recreation_Visitor_Hours"].str.replace(",","")
nps_df_0["Non_Recreation_Hours"]=nps_df_0["Non_Recreation_Hours"].str.replace(",","")
nps_df_0["Concession_Lodging"]=nps_df_0["Concession_Lodging"].str.replace(",","")
nps_df_0["Tent_Campers"]=nps_df_0["Tent_Campers"].str.replace(",","")
nps_df_0["RV_Campers"]=nps_df_0["RV_Campers"].str.replace(",","")
nps_df_0["Backcountry_Campers"]=nps_df_0["Backcountry_Campers"].str.replace(",","")
nps_df_0["Misc_Campers"]=nps_df_0["Misc_Campers"].str.replace(",","")
nps_df_0["Total_Overnight_Stays"]=nps_df_0["Total_Overnight_Stays"].str.replace(",","")

In [4]:
nps_df_0

,uniqueid,Park,State,Year,Month,Recreation_Visitors,Non_Recreation_Visitors,Recreation_Visitor_Hours,Non_Recreation_Hours,Concession_Lodging,Tent_Campers,RV_Campers,Backcountry_Campers,Misc_Campers,Total_Overnight_Stays
0,1,Black Canyon of the Gunnison NP,CO,2010,January,2519,0,6898,0,0,19,8,0,0,27
1,2,Black Canyon of the Gunnison NP,CO,2010,February,3034,0,9193,0,0,35,13,0,0,48
2,3,Black Canyon of the Gunnison NP,CO,2010,March,3199,0,8741,0,0,35,20,0,0,55
3,4,Black Canyon of the Gunnison NP,CO,2010,April,4421,0,17747,0,0,169,160,32,0,361
4,5,Black Canyon of the Gunnison NP,CO,2010,May,21259,0,128429,0,0,1159,715,107,0,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,524,Rocky Mountain NP,CO,2020,August,580368,2300,3963040,6900,0,7506,10212,12334,0,30052
524,525,Rocky Mountain NP,CO,2020,September,500019,1500,3316384,4500,0,7776,5253,6738,0,19767
525,526,Rocky Mountain NP,CO,2020,October,297665,560,1839907,1680,0,984,756,1630,0,3370
526,527,Rocky Mountain NP,CO,2020,November,157875,100,948387,300,0,0,0,71,0,71
527,528,Rocky Mountain NP,CO,2020,December,156165,60,944415,180,0,183,180,101,0,464

In [ ]:
# data_dict={"Park": object,
#            "State": object,
#            "Year": int,
#            "Month": object,
#            "Recreation_ Visitors": int,
#            "Non_Recreation_Visitors": int,
#            "Recreation_Visitor_Hours": int,
#            "Non_Recreation_Hours": int,
#            "Concession_Lodging": int,
#            "Tent_Campers": int,
#            "RV_Campers": int,
#            "Backcountry_Campers": int,
#            "Misc_Campers": int,
#            "Total_Overnight_Stays": int
#           }

In [ ]:
nps_df_1=nps_df_0.reset_index()

In [ ]:
nps_df_1

In [ ]:
# nps_df_2=nps_df_1.rename(columns={"index":"uniqueid","Recreation_ Visitors":"Recreation_Visitors"})

#nps_df_2=nps_df_1.rename(columns={"index":"uniqueid"})

In [ ]:
nps_df_2

In [6]:
# Change data type of all arithmetic columns to integers from objects
data_dict={"uniqueid": int,
           "Park": object,
           "State": object,
           "Year": int,
           "Month": object,
           "Recreation_Visitors": int,
           "Non_Recreation_Visitors": int,
           "Recreation_Visitor_Hours": int,
           "Non_Recreation_Hours": int,
           "Concession_Lodging": int,
           "Tent_Campers": int,
           "RV_Campers": int,
           "Backcountry_Campers": int,
           "Misc_Campers": int,
           "Total_Overnight_Stays": int
          }

nps_df=nps_df_0.astype(data_dict)

nps_df

nps_df.dtypes

uniqueid                     int32
Park                        object
State                       object
Year                         int32
Month                       object
Recreation_Visitors          int32
Non_Recreation_Visitors      int32
Recreation_Visitor_Hours     int32
Non_Recreation_Hours         int32
Concession_Lodging           int32
Tent_Campers                 int32
RV_Campers                   int32
Backcountry_Campers          int32
Misc_Campers                 int32
Total_Overnight_Stays        int32
dtype: object

In [ ]:
# {"park_1":{"Year":[],
#            "Month":[],
#            "Recreation_ Visitors":[],
#            "Year":[],
    
#             },
#  "park_2":{
    
# },
#  "park_3":{
    
# },
#  "park_4":{
    
# },
# }

In [ ]:
# park_dict={}
# parks=list(nps_df["Park"].unique())
# parks

In [ ]:
# for park in parks:
#     each_park_dict={'Year':list(nps_df[nps_df["Park"]==park]["Year"]),
#                     'Month':list(nps_df[nps_df["Park"]==park]["Month"]),
#                     'Visitors':list(nps_df[nps_df["Park"]==park]["Recreation_ Visitors"]),
#                     'Tent':list(nps_df[nps_df["Park"]==park]["Tent_Campers"]),
#                     'RV':list(nps_df[nps_df["Park"]==park]["RV_Campers"])
#                    }
#     park_dict[f'{park}']=each_park_dict
        
# park_dict

In [ ]:
# list(nps_df[nps_df["Park"]==parks[0]]["Year"])

In [ ]:
# nps_df_1.head()

In [ ]:
# nps_df['UniqueID']=f"{nps_df['Park']}/{nps_df['State']}/{nps_df['Year']}/{nps_df['Month']}"
# nps_df

## National Park Comments DataFrame

In [ ]:
#Read national parks comments data and load as DataFrame
comments_file= os.path.join("Data","NatPark_All_Comments.csv")
comments_df_0 = pd.read_csv(comments_file)
comments_df_0

In [ ]:
#Verify comments_df data types
comments_df_0.dtypes

In [ ]:
# Add column wiht index values
comments_df_1=comments_df_0.reset_index()

In [ ]:
comments_df=comments_df_1.rename(columns={"index":"uniqueid"})

In [ ]:
comments_df

# Store DataFrame into PostgresSQL Database

## Postgres SQL Connection

In [7]:
#Connect to PostgresSQL database and create engine
# rds_connection_string = (f'postgres:postgres@localhost:5432/colorado_camping_db')
# engine = create_engine(f'postgresql://{rds_connection_string}')
engine=create_engine('postgresql://nqrlodxvnaspsp:a19fd4360dcd5f66efab2e15c365995acac3ce31cf2886884bfaff4ed1aebd5d@ec2-174-129-225-160.compute-1.amazonaws.com:5432/de5ak2jipm2l50')

In [8]:
#Retrieve table names from PostgresSQL database
engine.table_names()

[]

## 2010 to 2015 Reservation Data

In [9]:
#Append 2010 through 2015 reservation data into SQL database table:reservations
res_data_10_15_df.to_sql(name='reservations', con=engine, if_exists='append', index=False)

NameError: name 'res_data_10_15_df' is not defined

In [ ]:
# import math
# batch_size=100000
# beg=0
# end=beg+batch_size
# for i in range(math.floor(len(res_df)/batch_size)): 
#     print(f'{beg} - {end}')
#     res_df.iloc[beg:end].to_sql(name='reservations', con=engine, if_exists='append', index=False)
#     beg=end
#     end=beg+batch_size
# res_df.iloc[end:].to_sql(name='reservations', con=engine, if_exists='append', index=False)

## 2016 to 2020 Reservation Data

In [ ]:
#Append 2016 through 2020 reservation data into SQL database table: reservations
res_data_16_20_clean_df.to_sql(name='reservations', con=engine, if_exists='append', index=False)

## National Parks DataFrame to Database

In [10]:
#Append national parks summary data into SQL database table: nps_summary
nps_df.to_sql(name='nps_summary', con=engine, if_exists='append', index=False)

# with engine.connect() as con:
#     con.execute('ALTER TABLE nps_summary ADD PRIMARY KEY (ID);')

## Geocode DataFrame to Database

In [11]:
#Append geocode data into SQL database table: geocode_info
geo_clean_df.to_sql(name='geocode_info', con=engine, if_exists='append', index=False)

NameError: name 'geo_clean_df' is not defined

## National Park Comments DataFrame to Database

In [ ]:
#Append national parks comment data into SQL database table: nps_comments
comments_df.to_sql(name='nps_comments', con=engine, if_exists='append', index=False)